body {
	margin: 0;
	font-size:15px;
	font-family:"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

img {
	border:none;
}

label, label input {
	cursor: pointer;
}

#contents {
	margin: 0 auto;
	padding: 8px;
	width: 1142px;
}

#mask {
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	text-align: center;
}

#mask svg {
	margin-top: calc(50vh - 20px);
}

#top {
	margin-bottom: 18px;
}

#top img {
}

#top div {
	text-align: center;
	margin-top: -32px;
}

#urlText {
	width: 50%;
}

#urlButton {
	cursor: pointer;
}

#tab {
	width: 100%;
}

#tab > div {
	cursor: pointer;
	background-color: #aaaaaa;
	border-radius: 10px 10px 0 0;
	padding: 5px 15px;
	box-shadow: -1px 0 5px rgba(0,0,0,0.4)inset;
	display: inline-block;
	font-weight: bold;
}

#tab > div.active {
	cursor: default;
	background-color: #eeeeee;
}

#thumbnail {
	border: solid 3px #aaaaaa;
	padding: 3px 0 0 3px;
	font-size: 12px;
	line-height: 12px;
	height: 184px;
	overflow-y: auto;
}
